@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");


* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: ;
}

button {
  outline: none;
  background: none;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 36px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}



.burger-btn {
  width: 50px;
  height: 30px;
  position: relative;
  display: none;
}


.burger-btn span,
.burger-btn::before,
.burger-btn::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.burger-btn::before {
  content: "";
  top: 0;
}

.burger-btn span {
  top: 50%;
}

.burger-btn::after {
  content: "";
  top: 100%;
}


.burger-btn.active span {
  transform: scale(0);
}

.burger-btn.active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger-btn.active::after {
  top: 50%;
  transform: rotate(-45deg);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.header-logo {
  /* margin: 10px 18px; */
  font-family: "Cedarville Cursive", cursive;
  font-size: 32px;
  margin-right: auto;
  display: flex;
  align-items: center;
  line-height: 61px;
  gap: 13px;
  z-index: 50;
}

.menu-list {
  display: flex;
  gap: 82px;
  list-style: none;
}

.header-menu {
  /* margin-right: 20px; */
}

.menu-link {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  transition: all 1s ease 0s;
}

.btnn {
  background: #2d635e;
  font-family: "Josefin Sans";
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px 26px;
  text-decoration: none;
  transition: all 1s ease 0s;


}

.menu-link:hover {
  color: green;
  font-size: 24px;

}


.btn {
  background: #2d635e;
  font-family: "Josefin Sans";
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px 26px;
  text-decoration: none;
  transition: all 1s ease 0s;
}


.btn:hover {
  background: white;
  outline: 1px solid black;
  color: black;
}

.btnn:hover {
  background: white;
  outline: 1px solid black;
  color: black;
}

.header-btn {
  margin-left: 44px;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
}

.welcome-left {
  margin-top: 158px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.welcome-sub-title {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
}

.welcome-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 63px;
  line-height: 63px;
}

.welcome-btn {
  max-width: 235px;
}

.welcome-right {}

.welcome-bg-square {
  width: 160px;
  height: 160px;
  background: rgba(227, 235, 231, 0.4);

  /* opacity: 0.4; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-bg-second-square {
  position: relative;
  width: 410px;
  height: 466px;
  background: #e3ebe7;
}

.welcome-bg {
  display: flex;
  align-items: flex-end;
}

.welcome-aside {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 14px;
}

.welcome-social {
  display: flex;
  flex-direction: column;
}

.welcome-right {
  display: flex;
  gap: 44px;
}

.social-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  color: #444a4a;
}

.welcome-social {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.welcome-bg-second-square::after {
  position: absolute;
  content: url("../img/coffee-machine.svg");
  bottom: -47px;
  left: 39px;
}

.cards {
  margin-top: 197px;
}

.cards-container {
  display: flex;
  gap: 103px;
}

.cards-square {
  background: #fae9e0;
  width: 380px;
  height: 287px;
  position: relative;
}

.cards-square svg {
  position: absolute;
  top: 78px;
  left: 28px;
}

.cards-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 25px;
}

.cards-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 0.001em;
  color: #444a4a;
}

.cards-container-green {
  display: flex;
  justify-content: space-between;
}

.cards-square-right {
  background: #E3EBE7;
  width: 410px;
  height: 276px;
  position: relative;
}

.cards-square-right img {
  position: absolute;
  top: -30px;
  left: 72px;

}

.cards-btn {
  max-width: 235px;
  margin-top: 24px;

}

.cards-container {
  padding-right: 72px;
}

.promotion {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
  position: absolute;
  top: -20px;
  right: -17px;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;

}

.slider {
  margin-top: 65px;
  background: rgba(45, 99, 94, 0.05);

  /* opacity: 0.05; */

}

.slider-container {

  display: flex;
  align-items: center;
  /* gap: 54px; */
  justify-content: space-between;
  padding: 45px 0;
}

.slider-body {
  display: flex;
  gap: 30px;

}

.slider-item {
  border-radius: 25px;
  padding: 45px 52px;
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 235px;
  box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.17);

}

.slider-title {
  margin-bottom: 25px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;


}

.slider-text {
  margin-bottom: 43px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  /* or 189% */

  text-align: center;
  letter-spacing: 0.001em;
  color: #444A4A;

}

.btn-mobile {
  display: none;
}

.footer-top {
  display: flex;
  gap: 176px;
  padding-top: 129px;
  padding-bottom: 114px;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-direction: column;

}

.footer-title {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.02em;
  margin-bottom: 21px;

}

.footer-item {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  color: #444A4A;
  letter-spacing: 0.001em;
}

.footer-copyright {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 0.001em;
  text-align: center;

}

.footer-title::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 102px;
  background: black;
  left: -132px;
  top: 20px;

}

.footer-address {
  position: relative;
}

.header {
  padding: 36px 0;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}

.footer-btn {
  display: none;
}



@media (max-width: 1200px) {
  .burger-btn {
    display: flex;
  }

  .container {
    padding: 0 15px;
  }

  .header-btn {
    display: none;
  }


  .header-menu.active {
    left: 0;

  }

  /* .header-menu {
    display: none;
  } */
  .header-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 150px 0 0 0px;
    background: white;
    transition: all 0.6s ease 0s;
  }

  .menu-list {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .welcome-right {
    display: none;
  }

  .welcome-left {
    align-items: center;
  }

  .welcome-container {
    justify-content: center;
  }

  .welcome-sub-title {
    font-size: 19px;
  }

  .welcome-title {
    font-size: 54px;
  }


  .cards-container-green {
    display: flex;
    flex-direction: column-reverse;

  }

  .cards-container {
    flex-direction: column;

  }

  .cards-left {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;

  }

  .cards-square {
    width: 100%;
  }

  .cards-square svg {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }

  .cards-square svg path {
    stroke: #444A4A;
  }

  .promotion {
    display: none;
  }

  .cards-rightly {
    display: flex;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;

  }

  .cards-btn {
    display: none;
  }

  .cards-rightly {
    padding-bottom: 30px;
  }

  .slider-arrow {
    display: none;
  }

  .slider-body {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-mobile {
    background: #2d635e;
    font-family: "Josefin Sans";
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px 26px;
    text-decoration: none;
  }

  .btn {
    display: none;
  }

  .slider-title {
    font-size: 28px;
  }

  .slider-text {
    font-size: 19px;

  }

  .slider-container {
    display: flex;
    justify-content: center;
  }

  .cards-square-right {
    width: 100%;
  }

  .cards-square-right img {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-title::before {
    display: none;
  }

  .slider {
    background: white;
  }

  .footer-item-mobilenone {
    display: none;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-map img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
  }

  .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 189px;
    height: 53px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    gap: 5.5px;
  }


  .footer-btn-item {
    font-family: "Josefin Sans";
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #444A4A;


  }

  .footer-item {
    line-height: 45px;
  }

  .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-top {
    gap: 30px;
  }

  .footer-copyright {
    letter-spacing: 0.001em;
    font-family: "Josefin Sans";
    font-weight: 400;
    color: #444A4A;
    font-size: 14px;
    font-style: normal;

  }
}